<div class="bg-bg-h-light dark:bg-bg-h-dark border-fg-light dark:border-fg-dark border-1-5 px-6 sm:px-8 py-8 mb-12">
        <section class="contact">
            <h1 class="h2 mb-6 text-orange-light dark:text-orange-dark">
                Contact
            </h1>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Name</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <span>Bogdan Floris</span>
                    </p>
                </dd>
            </dl>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Location</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <span>Bucharest, Romania</span>
                    </p>
                </dd>
            </dl>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Github</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <a href="https://github.com/bogdanfloris" class="link">https://github.com/bogdanfloris</a>
                    </p>
                </dd>
            </dl>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Email</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <a href="mailto:bogdan.floris@gmail.com" class="link">bogdan.floris@gmail.com</a>
                    </p>
                </dd>
            </dl>
        </section>
        <section class="skills">
            <h1 class="h2 mb-6 text-orange-light dark:text-orange-dark">
                Skills
            </h1>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Backend tech</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <span>Typescript, Python, C++, Rust, Go, Zig, Ruby, Java</span>
                    </p>
                </dd>
            </dl>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Frontend tech</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <span>React, HTMX, HTMX, CSS, Tailwind</span>
                    </p>
                </dd>
            </dl>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>Databases</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <span>PostgreSQL, Cassandra, Microsoft SQL Server</span>
                    </p>
                </dd>
            </dl>
            <dl class="mb-4">
                <dt class="h3 mb-2">
                    <span>DevOps</span>
                </dt>
                <dd>
                    <p class="ml-8 mb-4">
                        <span>Docker, Kubernetes, Kafka</span>
                    </p>
                </dd>
            </dl>
        </section>
        <section class="education">
            <h1 class="h2 mb-6 text-orange-light dark:text-orange-dark">
                Education
            </h1>
            <ul class="ml-8 list-disc space-y-3 mb-6">
                <li>
                    <p>
                        <span>2018-2020, Master's degree in Artificial Intelligence</span>
                        <br />
                        <strong class="font-bold underline"><span>University of Amsterdam</span></strong><span>,
                            Netherlands</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span>2015-2018, Bachelor's Degree in Computer Science and
                            Engineering</span>
                        <br />
                        <strong class="font-bold underline"><span>Eindhoven University of
                                Technology</span></strong><span>, Netherlands</span>
                    </p>
                </li>
            </ul>
        </section>
        <section class="professional-experience">
            <h1 class="h2 mb-6 text-orange-light dark:text-orange-dark">
                Professional Experience
            </h1>
            <section class="text-left datacamp">
                <h3 class="h3 mb-3">
                    <a href="#DataCamp"><span>DataCamp</span> </a>
                </h3>
                <p>
                    <code>Senior Software Engineer</code>
                    <br />
                    <code>From Apr 2022, Remote</code>
                    <br />
                    <a href="https://datacamp.com" class="link">https://datacamp.com</a>
                </p>
                <p class="body-text mb-4">
                    At DataCamp, an online learning platform, I am part of the Content
                    Platform team where I work on enabling new technologies in the
                    platform, where a technology is anything that can be used to create a
                    course in, e.g. Python, SQL, Azure, PowerBI. We also maintain the
                    Teach platform which is used by content developers to create courses.
                </p>
                <p class="body-text mb-4">
                    I have led the development on enabling multiple technologies, like
                    Java, Rust, Julia, or AWS. This involved developing a code execution
                    engine for these programming languages, and creating a DSL based on
                    abstract syntax trees that is used to check the submissions of the
                    users.
                </p>
                <p class="body-text mb-4">
                    I also led the engineering effort to improve the DataCamp platform and
                    the user experience using generative AI. We added a teaching assistant
                    that helps students debug their code, provides hints, and helps
                    explain the solution to exercises.
                </p>
            </section>
            <section class="text-left bloomberg">
                <h3 class="h3 mb-3">
                    <a href="#Bloomberg"><span>Bloomberg</span> </a>
                </h3>
                <p>
                    <code>Software Engineer</code>
                    <br />
                    <code>Oct 2020 to Mar 2022, London</code>
                    <br />
                    <a href="https://bloomberg.com/company" class="link">https://bloomberg.com/company</a>
                    <br />
                    <a href="https://www.bloomberg.com/professional/products/risk/mars/"
                        class="link">https://www.bloomberg.com/professional/products/risk/mars</a>
                </p>
                <p class="body-text mb-4">
                    At Bloomberg, I was part of the MARS Market Risk team, which provides
                    a suite of risk management tools used by clients to manage their
                    portfolios.
                </p>
                <p class="body-text mb-4">
                    My work there involved developing and maintaining features in a C++
                    distributed systems architecture that prices financial data and
                    computes risk metrics. I led the development on a new A/B testing
                    framework and worked with finance specialist to improve the FRTB
                    solution of the team.
                </p>
            </section>
            <section class="text-left zeta-alpha">
                <h3 class="h3 mb-3">
                    <a href="#ZetaAlpha"><span>Zeta Alpha</span> </a>
                </h3>
                <p>
                    <code>Research Intern</code>
                    <br />
                    <code>Nov 2019 to Jun 2020, Amsterdam</code>
                    <br />
                    <a href="https://www.zeta-alpha.com" class="link">https://www.zeta-alpha.com</a>
                </p>
                <p class="body-text mb-4">
                    At Zeta Alpha, I was part of the founding team of the company. There I
                    wrote my master thesis -
                    <span class="italic">How to detect and address changes in machine learning base data
                        pipelines.</span>
                </p>
            </section>
            <section class="text-left datacamp-intern">
                <h3 class="h3 mb-3">
                    <a href="#DataCamp"><span>DataCamp</span> </a>
                </h3>
                <p>
                    <code>Software Engineer Intern</code>
                    <br />
                    <code>Jun 2019 to Aug 2019, Belgium</code>
                    <br />
                    <a href="https://datacamp.com" class="link">https://datacamp.com</a>
                </p>
                <p class="body-text mb-4">
                    This was my first venture at DataCamp, as an intern, where I helped
                    the team enable the Scala programming language as a technology on the
                    platform.
                </p>
            </section>
        </section>
    </div>
