<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="The personal website, blog, and space on the internet of Bogdan Floris" />
  <meta name="keywords"
    content="personal, website, blog, bogdan, floris, bogdanfloris, bogdanfloris.com, bogdanfloris, software, engineer, coding" />
  <link href="https://fonts.googleapis.com/css?family=JetBrains Mono|Inter" rel="stylesheet" />
  <link href="/dist/css/output.css" rel="stylesheet" />
  <link rel="icon" type="image/svg+xml" href="/dist/favicon.svg" />
  <title>
    {% block title %}{% endblock %}
  </title>
  <script>
    if (
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
</head>

<body class="bg-bg-primary-light text-fg-light dark:bg-bg-primary-dark dark:text-fg-dark">
  {% block body %}{% endblock %}
</body>

</html>
