{% extends "base.html" %}
{% block title %}{{ meta.page_title }}{% endblock %}
{% block body %}
    {% include "partials/theme-button.html" %}
    <div class="min-h-screen px-4 sm:px-6 py-16">
        <div class="max-w-2xl mx-auto">
            {% include "partials/banner.html" %}
            {% include "partials/nav.html" %}
            <div class="bg-bg-h-light dark:bg-bg-h-dark border-fg-light dark:border-fg-dark border-1-5 px-6 sm:px-8 py-6 mb-12">
                {{ content|safe }}
            </div>
        </div>
    </div>
{% endblock %}
