{% extends "base.html" %}
{% block title %}{{ meta.page_title }}{% endblock %}
{% block body %}
{% include "partials/theme-button.html" %}
<div class="ml-auto mr-auto my-0 p-4 max-w-5xl h-screen">
    {% include "partials/banner.html" %}
    {% include "partials/nav.html" %}
    <div class="text-center">
        <div
            class="inline-block bg-bg-h-light dark:bg-bg-h-dark border-fg-light dark:border-fg-dark border-1-5 px-8 py-6 max-w-2xl">
            <h1 class="text-center font-bold text-4xl my-4">Blog</h1>
            <p class="text-left my-2">
                This is the start of my personal blog. I'll write here if I find anything interesting to write and
                inspiration hits.
            </p>
            <li class="text-left my-2 px-8">
                <a class="link" href="/post/1">Test Blog Post</a> - <span class="text-gray-light dark:text-gray-dark">2024-07-21</span>
            </li>
        </div>
    </div>
</div>
{% endblock %}
