{% extends "base.html" %}
{% block title %}{{ meta.page_title }}{% endblock %}
{% block body %}
    {% include "partials/theme-button.html" %}
    <div class="min-h-screen px-4 sm:px-6 py-16">
        <div class="max-w-2xl mx-auto">
            {% include "partials/banner.html" %}
            {% include "partials/nav.html" %}
            <div class="bg-bg-h-light dark:bg-bg-h-dark border-fg-light dark:border-fg-dark border-1-5 px-6 sm:px-8 py-6 mb-12">
                <h1 class="text-center font-bold text-4xl my-4">Blog</h1>
                <p class="my-2">
                    This is the start of my personal blog. I'll write here if I find anything interesting to write and
                    inspiration hits.
                </p>
                <ul class="my-4">
                    <li class="my-2">
                        <a class="link" href="/post/1">Test Blog Post</a> - <span class="text-gray-light dark:text-gray-dark">2024-07-21</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
